.container {
  display: flex;
}
.wrapBlCmtmng {
  display: flex;
  background-color: #d9ebe8;
  padding-left: 20px;
  padding-right: 20px;
}
.descriptionCmtMeng {
  padding-right: 0;
  padding-left: 0;
}
.descriptionCmtMeng > footer:last-child {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.descriptionCmtMeng > h1 {
  margin-bottom: 15px;
  color: #c1272d;
  font-weight: bold;
}
/* Styles for extra small devices (phones) */
@media (max-width: 576px) {
  .descriptionCmtMeng {
    padding-right: 0;
    padding-left: 0;
  }
}

/* Styles for small devices (tablets) */
@media (min-width: 577px) and (max-width: 768px) {
  /* Your CSS styles here */
}

/* Styles for medium devices (laptops and desktops) */
@media (min-width: 769px) and (max-width: 992px) {
  .descriptionCmtMeng > h1 {
    font-size: 38px;
  }
}

/* Styles for large devices (desktops) */
@media (min-width: 993px) and (max-width: 1200px) {
  .descriptionCmtMeng > h1 {
    font-size: 38px;
  }
}

/* Styles for extra large devices (large desktops and TVs) */
@media (min-width: 1201px) {
  .descriptionCmtMeng > h1 {
    font-size: 38px;
  }
}
