/* Modal Container */
.modalContainer {
  width: 62.5rem !important; /* 1000px / 16px = 62.5rem */
}

/* Modal Styling */
.headerTitle {
  margin: 0;
  font-size: var(--font-medium-size);
}

.chooseChefMenageDescription {
  font-size: var(--font-small-size);
  font-weight: 100;
}

/* Card Styling */
.doUKnow {
  display: block;
  max-width: 25%;
  padding: var(--spacing-small);
}
.doUKnow > p {
  font-size: var(--font-small-size);
}
.gridStyle {
  width: inherit !important;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.cardContainer {
  width: 100%;
  max-height: 50vh;
  overflow-y: scroll;
  box-shadow: none;
}

@media (max-width: 36rem) {
  .gridStyle {
    min-height: 150px;
  }
}

/* Styles for small devices (tablets) */
@media (min-width: 36.063rem) and (max-width: 48rem) {
  .searchEngine {
    transform: translateY(70%);
    width: 90%;
  }
}

/* Styles for medium devices (laptops and desktops) */
@media (min-width: 48.063rem) and (max-width: 62rem) {
  .searchEngine {
  }
}

/* Styles for large devices (desktops) */
@media (min-width: 62.063rem) and (max-width: 75rem) {
  .searchEngine {
  }
}

/* Styles for extra large devices (large desktops and TVs) */
@media (min-width: 75.063rem) {
  .searchEngine {
  }
}
